* {
    margin: 0;
    padding: 0;
}
main{
    width: 1200px;
    height: 600px;
    background-color: #fdde7e;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    
}

div {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: white;
    height: 440px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
img{
    margin: 10px 0 30px 15px;
}

#div2 {
    height: 500px;
    
}
#div2 img {
    margin-top: 50px;
}
.name , .text {
    font-family: 'Lato', sans-serif;
    font-weight: bold;

} 

.name {
    font-size: 56px;
    letter-spacing: -4px;
    
}

.text {
    font-size: 20px;
    text-align: center;
}

.dollar {
    font-size: 70px;
    color: #02995b;
    font-family: "Myriad Pro" , Regular;
    letter-spacing: -4px;
}

